GestionBancaireEJB/WSDL/ClientBancaireService.wsdl

<definitions name='ClientBancaireServiceService' targetNamespace='http://service.ipsas.tn/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://service.ipsas.tn/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://service.ipsas.tn/' version='1.0' xmlns:tns='http://service.ipsas.tn/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='arrayList'>
    <xs:complexContent>
     <xs:extension base='tns:abstractList'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract='true' name='abstractList'>
    <xs:complexContent>
     <xs:extension base='tns:abstractCollection'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract='true' name='abstractCollection'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='clientBanqueDTO'>
    <xs:sequence>
     <xs:element minOccurs='0' name='cin' type='xs:string'/>
     <xs:element minOccurs='0' name='nom' type='xs:string'/>
     <xs:element minOccurs='0' name='prenom' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='ClientBancaireServiceWS_ajoutClientBancaireResponse'></message>
 <message name='ClientBancaireServiceWS_listDesComptesResponse'>
  <part name='return' type='tns:arrayList'></part>
 </message>
 <message name='ClientBancaireServiceWS_listDesComptes'></message>
 <message name='ClientBancaireServiceWS_ajoutClientBancaire'>
  <part name='arg0' type='tns:clientBanqueDTO'></part>
 </message>
 <portType name='ClientBancaireServiceWS'>
  <operation name='ajoutClientBancaire' parameterOrder='arg0'>
   <input message='tns:ClientBancaireServiceWS_ajoutClientBancaire'></input>
   <output message='tns:ClientBancaireServiceWS_ajoutClientBancaireResponse'></output>
  </operation>
  <operation name='listDesComptes'>
   <input message='tns:ClientBancaireServiceWS_listDesComptes'></input>
   <output message='tns:ClientBancaireServiceWS_listDesComptesResponse'></output>
  </operation>
 </portType>
 <binding name='ClientBancaireServiceWSBinding' type='tns:ClientBancaireServiceWS'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='ajoutClientBancaire'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://service.ipsas.tn/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://service.ipsas.tn/' use='literal'/>
   </output>
  </operation>
  <operation name='listDesComptes'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://service.ipsas.tn/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://service.ipsas.tn/' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='ClientBancaireServiceService'>
  <port binding='tns:ClientBancaireServiceWSBinding' name='ClientBancaireServicePort'>
   <soap:address location='http://127.0.0.1:8888/GestionBancaireEAR-GestionBancaireEJB/ClientBancaireService'/>
  </port>
 </service>
</definitions>